* {
    box-sizing: border-box;
}

body {
    background-color: #082E41;
    margin-top: 15px;
    margin-bottom: 15px;
}

#name {
    font-family: blowbrush;
    text-align: left;
}

a:link {
    color: #23BEBB;
}

/*_________________________________ */


/* Navigation */


/*_________________________________ */
#try{
    font-family: "Blowbrush", sans-serif;
    color: white;
    font-size: 60px;
    text-align: center;
 
}

#nameonly {
    
    text-align: right;
}



#nav {
    margin-top: 70px;
}
.navigation {
    font-family: 'Lato', sans-serif;
    list-style: none;
    margin: 0;
    background-color: #23BEBB;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 10px;
    font-size: 18px;
    
}
.navigation a {
    font-family: 'Lato', sans-serif;
    color: #082E41;
    display: block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.navigation a:hover {
    font-family: 'Lato', sans-serif;
    background-color: #082E41;
    color: white;
    padding-right: 30px;
}
@media all and (min-width: 600px) {
    .navigation {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .navigation a {
        border: none;
    }
}
@media all and (min-width: 800px) {
    .navigation {
        justify-content: flex-end;
    }
}

/*_________________________________ */

/* Flex-box for Projects Page */

/*_________________________________ */
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* show column, column-reverse, row-reverse */
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* flex-start, flex-end, center, space-between */
    
    justify-content: space-around;
}

/*.flex-item {
    padding: 10px;
    width: 301px;
    height: 280px;
    margin-top: 10px;
    line-height: 200px;
}
*/
#pic1,
#pic2,
#pic3,
#pic4,
#pic5,
#pic6,
#pic7,
#pic8 {
    padding: 10px;
    width: 301px;
    height: 280px;
    margin-top: 10px;
    line-height: 200px;
}

/*_________________________________ */

/* Profile Page */

/*_________________________________ */
/*#pagename{
    font-family: 'blowbrush';
    color: #24BABD;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
*/
#profilepic {
    text-align: center;
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#description {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
#words {
    color: #24BABD;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/*_________________________________ */

/* CONTACT PAGE  */

/*_________________________________ */
.container {
    margin-left: 50px;
}
#pagename2 {
    color: #24BABD;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
    padding-top: 15px;
    padding-left: 80px;
}
#name {
    padding-left: 30px;
    color: #24BABD;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
#email {
    padding-left: 30px;
    color: #24BABD;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
#subject {
    padding-left: 30px;
    color: #24BABD;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
#msg {
    padding-left: 30px;
    color: #24BABD;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
#msg {
    height: 50%;
}

/* Form/BUTTON  CSS Custom Style 
#submitbutton {
    text-align: left;
    width: 80px;
   /* box-sizing: 30px;
    padding-left: 540px;
    background:#24BABD;
}
*/
.button {
    background-color: #23BEBB;
    border: none;
    color: #082E41;
    padding: 12px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin: 3px 30px;
}
a:hover {
    background-color: #082E41;
    color: blu;
}
a:active {
    color: white;
}

/*_________________________________ */

/*Footer */

/*_________________________________ */
/*
footer {
    padding-bottom: 14px;
    padding-left: 550px;
    padding-right: 13px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    position: absolute;
}
*/
footer{
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Robot', sans-serif;
    color:whitesmoke;
}
#titlecategory,#pagename {
    color: #24BABD;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}