* {
    box-sizing: border-box;
}

body {
    background-color: #082E41;
    margin-top: 15px;
    margin-bottom: 15px;
}

header {
    font-family: 'Lato', sans-serif;
    color: #24BABD;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#nav {
    margin-top: 70px;
}
.navigation {
    font-family: 'Lato', sans-serif;
    list-style: none;
    margin: 0;
    background-color: #23BEBB;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 10px;
    font-size: 18px;
}
.navigation a {
    font-family: 'Lato', sans-serif;
    color: #082E41;
    display: block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.navigation a:hover {
    font-family: 'Lato', sans-serif;
    background-color: #082E41;
    color: white;
    padding-right: 30px;
}
@media all and (min-width: 600px) {
    .navigation {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .navigation a {
        border: none;
    }
}
@media all and (min-width: 800px) {
    .navigation {
        justify-content: flex-end;
    }
}

#name_resume {
    font-family: 'Lato', sans-serif;
    color: #24BABD;
    font-size: 20px;
    text-align: right;
}

#try {
    font-family: "Blowbrush", sans-serif;
    color: white;
    font-size: 60px;
    text-align: center;
}

hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: 970px;
    border-style: inset;
    border-width: 1px;
}


/* Column 1 */

#column1 {
    width: 313px;
    padding: 10px;
    padding-left: 30px;
    float: left;
}


/* Column 2 */

#columnseperate {
    width: 313px;
    float: left;
    padding-left: 40px;
}

#column2 {
    width: 313px;
    padding-left: 40px;
    float: right;
    padding-right: 5rem;
}


/* Head titles */

#uni_info {
    color: aliceblue;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    text-align: right;
}

#computerskills {
    color: #24BABD;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: right;
}

#coursework {
    font-family: 'Lato', sans-serif;
    color: #24BABD;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

#awards {
    font-family: 'Lato', sans-serif;
    color: #24BABD;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

#Activities {
    font-family: 'Lato', sans-serif;
    color: #24BABD;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

#workexperience {
    font-family: 'Lato', sans-serif;
    color: #24BABD;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

#volunteerwork {
    font-family: 'Lato', sans-serif;
    color: #24BABD;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}


/* Descriptions */

#content0 {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

#content1 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
}

#content2 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
}

#content3 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
}

#content4 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
}

#content5 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
}

#content6 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
}

#content7 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
}

#content8 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
}

#p {
    color: #24BABD;
}

#resume {
    text-align: right;
}


/* Flex box */


/*

#footer {
    position: absolute;
    bottom: 70px;
    width: 200px;
    height:100px;
    /* padding: 1rem;
 
    font-family: 'Roboto', sans-serif;
    color: white;
}
*/