* {
    box-sizing: border-box;
}
html{
    background-color:#00171F;
}
#column1{
    width:300px;
    height: 500px;
}
#column2{
    width:auto;
    height:auto;
}
.websitename{
    font-family: 'Abril Fatface', cursive;
}
